/* 	PLUGGED IN - STYLES
 *	Author: EF
 * 	Created: 03/2013
 */

/* Imports 
---------------------------------------------------------*/
@import url("imports/iconfont.css");
@import "imports/partials/debug";

/* Variables 
---------------------------------------------------------*/
$hl-color: white;
$hl-alpha: 0.0;
/*$bg-home: "images/pluggedin_bg_home_debug.jpg"; */
$bg-home: "images/pluggedin_bg.jpg";
$img-loc: "../";
$default-color: #fcfcfc;
$default-size: 1em;
$full: 100%;
$padding-btm: 6.5em;
/* Max width: for debug alignment */;
$max-width: 640px;



/* Default 
---------------------------------------------------------*/
html, body {
      padding: 0;
      margin: 0;
      height: $full;
      background: black;
}

div, p, span, h1, h2, h3, h4, h5, h6, input, a {
	color: $default-color;
	font: {
		family:	Helvetica, "Helvetica Neue", Arial, sans-serif;
		size: $default-size;
	}
}

a {
	text-decoration: none;
	border: 0;
}

h1 {
	font: {
		size: 1.9em;
		weight: 600;
	}
	line-height: 1.04em;
}

h2 {
	font: {
		weight: 600;
	}
	line-height: 40.5%;
}

hr {
	border: {
		style: solid;
		right: 0;
		left: 0;
		top: 0;
	}
    padding: 0.8em 0;
}

/* Media Querries */
@media all and (min-width: 5em) {
	/*h1, h2 { color: #999 !important; }*/
	h1, h2 { font-size: 0.75em; }
	hr { padding: 0.35em 0; }
	input[type="text"] { font-size: 0.55em; }
	form { margin: 0 4.2% 7.5%; }
}
@media all and (min-width: 20em) {
	/*h1, h2 { color: #666 !important; }*/
	h1, h2 { font-size: 1.15em; }
	hr { padding: 0.6em 0; }
	input[type="text"] { font-size: 1.05em; }
	form { margin: 0 4.2% 7.5%; }
}
@media all and (min-width: 30em) {
	/*h1, h2 { color: teal !important; }*/
	h1, h2 { font-size: 1.5em; }
	hr { padding: 0.8em 0; }
	input[type="text"] { font-size: 1.55em; }
	form { margin: 0 4.2% 7.5%; }
}
@media all and (min-width: 40em) {
	/*h1, h2 { color: red !important; }*/
	/* this is the default */
	h1, h2 { font-size: 2em; }
	hr { padding: 1.07em 0; }
	input[type="text"] { font-size: 2.15em; }
	form { margin: 0 4.2% 7.8%; }
}
@media all and (min-width: 50em) {
	/*h1, h2 { color: yellow !important; }*/
	h1, h2 { font-size: 2.5em; }
	hr { padding: 1.37em 0; }
	input[type="text"] { font-size: 2.65em; }
	form { margin: 0 4.2% 7.8%; }
}
@media all and (min-width: 60em) {
	/*h1, h2 { color: green !important; }*/
	h1, h2 { font-size: 3em; }
	hr { padding: 1.57em 0; }
	input[type="text"] { font-size: 3.25em; }
	form { margin: 0 4.2% 8%; }
}
@media all and (min-width: 70em) {
	/*h1, h2 { color: orange !important; }*/
	h1, h2 { font-size: 1.75em; }
	hr { padding: 0.95em 0; }
	input[type="text"] { font-size: 1.85em; }
	form { margin: 0 4.2% 7.5%; }
	#mainContainer { background-size: 36em !important; }
	#mainContent { 
		max-width: 36em; 
		padding-bottom: 4em !important;

		-webkit-box-shadow: 0 -122px 165px -50px #333 ;
		-moz-box-shadow: 0 -122px 165px -50px #333;
		box-shadow: 0 -122px 165px -50px #333;

		.event-date { 
			font-size: 2.45em !important; 
			margin: 0 0 3.8% !important;
			background: {
				image: url($img-loc + "images/list_header_bg_sml.jpg") !important;
			}
		}
		.event-time { font-size: 1.4em !important; padding-top: 0 !important; }
		.band-name { font-size: 2.1em !important; }
		.venue-name { font-size: 1.8em !important; }
		.add-to-cal { font-size: 3.6em !important; padding-top: 0 !important; }
	}
	#footer { max-width: 36em; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.027) !important; }
	#footer .wrapper .label { font-size: 1.3em !important; padding: 0.92em 0 !important; }
	#footer .wrapper .logo { font-size: 2.2em !important; padding: 0.35em 0 0.1em !important; }
}


/* Utilities 
---------------------------------------------------------*/
.full-width {
     width: $full;
}

.displayNone {
	display: none;	
}

/* Custom 
---------------------------------------------------------*/
#mainContainer {
    display: block;
    min-height: $full; /*height: 100% /* for IE only */
    position: relative;
    text-align: center;

	background: {
		image: url($img-loc + $bg-home);
		repeat: no-repeat;
		size: $full;
		position: top;
	}
}

#topSpacer {
	div {
		padding-top: 0%;
		padding-bottom: 64.6%;
	}
}

#mainContent.minHeight { min-height:130em; }

#mainContent {
	@include highlight($hl-color, $hl-alpha);

    display: inline-block;
    /*max-width: $max-width;*/
    padding-bottom: $padding-btm;

    ul {
    	list-style-type: none;
    	text-align: center;
    	margin: 0;
    	padding: 0;
    }
    li {
    	display: inline-block;
    	width: 27.5%;
    	margin: 0.3% 3.4% 0;
    	a {
    		display: block;
    	}
    	img {
    		width: 100%;
    	}
    }

	.connect-lbl {
		padding: 0 9.7%;
	}

    .divider {
    	padding-bottom: 1.9%;
    	.pad-left {
			margin: 0 4.2% 0 10.8%;
    	}
    	.pad-right {
    		margin: 0 12% 0 1.4%
    	}
    }

    .search-bar {
    	form {
    		height: 0;
    		padding-bottom: 18%;
    		position: relative;
    	}

    	input {
    		position: absolute;
    		height: 100%;
    	}

    	input[type=text] {
    		width: 90%;
    		left: 0;
    		border: 0;
    		padding: 0 5%;
    		border-style: none;
    		color: black;
    	}
    	input[type=button] {
    		cursor: pointer;
    		width: 13%;
    		right: 0;
    		font-size: 2.4em;
    		border: 0;
    		color: black;
    		background: white;
    	}
    }
}

#masterList {
	background: rgba(black, 1);

	/* grid mod */
	.grid-3 {
		width: 18.3% !important;
	}
	.grid-7 {
		width: 61% !important;
	}

	a {
		cursor: pointer;
		color: #666;
	}

	a:hover {
		color: #8c8c8c;
	}

	a:active {
		color: #8c8c8c;
	}

	.event-date {
		font: {
			size: 3.75em;
			weight: 600;
		}
		padding: 0.22em 0 0.4em;
		margin: 0 0 4.5%;
		text-align: left;
		background: {
			image: url($img-loc + "images/list_header_bg.jpg");
			repeat: repeat-x;
		}
		span {
			padding-left: 23.6%;
			color: #666;
			text-transform: capitalize;
		}
	}

	.event-time {
		font: {
			size: 1.8em;
			weight: 600;
		}
		color: #8c8c8c !important;
		text-align: left;
		padding-top: 1.2%;
	} 

	.band-name {
		font: {
			size: 3.75em;
			weight: 600;
		}
		line-height: 106%;
		color: $default-color;
		padding: 0 0 0.2em 0;
		text-align: left;
	}

	.venue-name {
		font: {
			size: 2em;
			weight: 600;
		}
		line-height: 106%;
		text-align: left;
		padding: 0 0 1em 0;

	}
	
	.add-to-cal {
		font-size: 4.7em;
		text-align: right;
		padding-top: 1.5%;
	}
}

#footer {
	display: block;
    position: absolute;
    bottom: 0;
    background: rgba(white, 0.05);

    .wrapper {
    	display: inline-block;
    	.label {
    		color: #555;
    		font-size: 2.2em;
	    	float: left;
	    	padding: 0.92em 0;
	    }
		.logo {
			float: left;
			color: #555;
			font-size: 4.2em;
			padding: 0.25em 0 0.1em 0;

	    }
	}
}

/* Fluid Grid 
---------------------------------------------------------*/
.grid-container, .grid-container-pad0, .cal-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    float: left;
    @include highlight($hl-color, $hl-alpha); 

    div {
    	height:auto;
    	@include highlight($hl-color, $hl-alpha);
    }
}

.cal-container {
	width: 93.2%;
	margin-left: 3.4%;
    margin-right: 3.4%;
}

.grid-container-pad0 {
	width: 100%;
	margin-left: 0%;
    margin-right: 0%;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.grid-1 {
    width:6.333%;
}

.grid-2 {
    width:14.667%;
}

.grid-3 {
    width:23.0%;
}

.grid-4 {
    width:31.333%;
}

.grid-5 {
    width:39.667%;
}

.grid-6 {
    width:48.0%;
}

.grid-7 {
    width:56.333%;
}

.grid-8 {
    width:64.667%;
}

.grid-9 {
    width:73.0%;
}

.grid-10 {
    width:81.333%;
}

.grid-11 {
    width:89.667%;
}

.grid-12 {
    width:98.0%;
}

/* grid height */
.pad-1 {
    padding-top:3.1665%; 
    padding-bottom:3.1665%;
}
.pad-2 {
    padding-top:7.3335%; 
    padding-bottom:7.3335%;
}

.pad-3 {
    padding-top:11.5%; 
    padding-bottom:11.5%;
}

.pad-4 {
    padding-top:15.6665%; 
    padding-bottom:15.6665%;
}

.pad-5 {
    padding-top:19.833%; 
    padding-bottom:19.833%;
}

.pad-6 {
    padding-top:24%; 
    padding-bottom:24%;
}

.pad-7 {
    padding-top:28.1665%; 
    padding-bottom:28.1665%;
}

.pad-8 {
    padding-top:32.3335%; 
    padding-bottom:32.3335%;
}

.pad-9 {
    padding-top:36.5%; 
    padding-bottom:36.5%;
}

.pad-10 {
    padding-top:41.5%; 
    padding-bottom:41.5%;
}
