/* 	PLUGGED IN - STYLES
 *	Author: EF
 * 	Created: 03/2013
 */


/* Imports 
---------------------------------------------------------*/
@import url("imports/iconfont.css");
@import "imports/partials/debug";

/* Variables 
---------------------------------------------------------*/
$hl-color: white;
$hl-alpha: 0;
$default-color: white;
$full: 100%;
$footer-height: 50px;
$footer-top: 15px;

/* Default 
---------------------------------------------------------*/
html, body {
      padding: 0;
      margin: 0;
      height: $full;
}

/* Fluid Grid 
---------------------------------------------------------*/
.grid-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    float: left;
    @include highlight($hl-color, $hl-alpha); 

    div {
    	height:auto;
    	@include highlight($hl-color, $hl-alpha); 
    }
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.grid-container .grid-1 {
    width:6.333%;
}

.grid-container .grid-2 {
    width:14.667%;
}

.grid-container .grid-3 {
    width:23.0%;
}

.grid-container .grid-4 {
    width:31.333%;
}

.grid-container .grid-5 {
    width:39.667%;
}

.grid-container .grid-6 {
    width:48.0%;
}

.grid-container .grid-7 {
    width:56.333%;
}

.grid-container .grid-8 {
    width:64.667%;
}

.grid-container .grid-9 {
    width:73.0%;
}

.grid-container .grid-10 {
    width:81.333%;
}

.grid-container .grid-11 {
    width:89.667%;
}

.grid-container .grid-12 {
    width:98.0%;
}

/* grid height */
.grid-container .pad-1 {
    padding-top:3.1665%; 
    padding-bottom:3.1665%;
}
.grid-container .pad-2 {
    padding-top:7.3335%; 
    padding-bottom:7.3335%;
}

.grid-container .pad-3 {
    padding-top:11.5%; 
    padding-bottom:11.5%;
}

.grid-container .pad-4 {
    padding-top:15.6665%; 
    padding-bottom:15.6665%;
}

.grid-container .pad-5 {
    padding-top:19.833%; 
    padding-bottom:19.833%;
}



/* Utilities 
---------------------------------------------------------*/
.full-width {
     width: $full;
}

.displayNone {
	display:none;	
}

/* Custom 
---------------------------------------------------------*/
#mainContainer {
    display: block;
    min-height: 100%;
    /*height: 100% /* for IE only */;
    position: relative;
    text-align: center;
    color: $default-color;
	font: {
		family:	Helvetica, "Helvetica Neue", Arial, sans-serif;
	}
	background: {
		image: url("/images/pluggedin_bg.gif");
		position: center;
	}
}

#mainContent {
    display: inline-block;
    padding-bottom: $footer-height;
    @include highlight($hl-color, $hl-alpha);

    .logo-lrg {
		img {
			width: $full;
			height: auto;
		}
	}

	.social-btns {
		.btn {
			background: {
				image: url("/images/buttons/social_btn_bg1.jpg");
				repeat: no-repeat;
				size: $full;
			}
			padding: 22% 0 22% 0;
			cursor: pointer;
		}
		.icn {
			font-size: 3em;
			pointer-events: none;
       		cursor: pointer;
		}
		
    }

    .devider-text {

    }

    .search-bar {
    	input[type=text] {
    		font-size: 1.15em;
    		width: 65%;
    		height: 3.2em;
    		padding: 0 0.8em 0 0.8em;
    		border: 0;
    	}
    	input[type=button] {
    		cursor: pointer;
    		width: 2.5em;
    		height: 2.5em;
    		font-size: 1.3em;
    		border: 0;
    		color: black;
    		background: white;
    	}

    }

    #masterList {
		div {
			background: rgba(black, 0.2);
		}
	}
}

#footer {
	display: block;
    position: absolute;
    bottom: 0;
    background: rgba(black, 0.8);
    color: #555;

    .wrapper {
    	display: inline-block;
    	.label {
    		padding-top: 15px;
	    	float: left;
	    }
		.logo {
			float: left;
			font-size: 3.2em;
	    }
	}
}