@import url("imports/iconfont.css");
/* 	PLUGGED IN - STYLES
 *	Author: EF
 * 	Created: 03/2013
 */
/* Imports 
---------------------------------------------------------*/
/* Test: Rounded corner mixin partial */
/* Variables 
---------------------------------------------------------*/
/*$hl-alpha: 0.1;
$bg-home: "/images/pluggedin_bg_home_debug.jpg";*/
/* Default 
---------------------------------------------------------*/
/* line 27, global.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
}

/* line 34, global.scss */
div, p, span, h1, h2, h3, h4, h5, h6, input, a {
  color: #fcfcfc;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
}

/* line 42, global.scss */
a {
  text-decoration: none;
  border: 0;
}

/* line 47, global.scss */
h1 {
  font-size: 1.9em;
  font-weight: 600;
  line-height: 1.04em;
}

/* line 55, global.scss */
h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 40.5%;
}

/* line 63, global.scss */
hr {
  border-style: solid;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  padding: 1.07em 0;
  /*padding: 7.6% 0;*/
}

/* Utilities 
---------------------------------------------------------*/
/* line 77, global.scss */
.full-width {
  width: 100%;
}

/* line 81, global.scss */
.displayNone {
  display: none;
}

/* Custom 
---------------------------------------------------------*/
/* line 87, global.scss */
#mainContainer {
  display: block;
  min-height: 100%;
  /*height: 100% /* for IE only */
  position: relative;
  text-align: center;
  background-image: url("/images/pluggedin_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  /*
  @media screen and (min-width: 40em) {
  	background-size: 40em;
  }
  */
}

/* line 108, global.scss */
#topSpacer div {
  padding-top: 0%;
  padding-bottom: 64.6%;
}

/* line 114, global.scss */
#mainContent.minHeight {
  min-height: 130em;
}

/* line 116, global.scss */
#mainContent {
  /*outline: rgba(black, $alpha) dotted thin;*/
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
  /*max-width: $max-width;*/
  padding-bottom: 10em;
}
/* line 123, global.scss */
#mainContent ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 129, global.scss */
#mainContent li {
  display: inline-block;
  width: 27.5%;
  margin: 0.3% 3.4% 0;
}
/* line 133, global.scss */
#mainContent li a {
  display: block;
}
/* line 136, global.scss */
#mainContent li img {
  width: 100%;
}
/* line 141, global.scss */
#mainContent .connect-lbl {
  padding: 0 9.7%;
}
/* line 145, global.scss */
#mainContent .divider {
  padding-bottom: 1.9%;
}
/* line 147, global.scss */
#mainContent .divider .pad-left {
  margin: 0 4.2% 0 10.8%;
}
/* line 150, global.scss */
#mainContent .divider .pad-right {
  margin: 0 12% 0 1.4%;
}
/* line 156, global.scss */
#mainContent .search-bar form {
  height: 0;
  padding-bottom: 18%;
  position: relative;
  margin: 0 4.2% 8.6%;
}
/* line 163, global.scss */
#mainContent .search-bar input {
  position: absolute;
  height: 100%;
}
/* line 168, global.scss */
#mainContent .search-bar input[type=text] {
  font-size: 2.15em;
  width: 90%;
  left: 0;
  border: 0;
  padding: 0 5%;
  border-style: none;
  color: black;
}
/* line 177, global.scss */
#mainContent .search-bar input[type=button] {
  cursor: pointer;
  width: 13%;
  right: 0;
  font-size: 2.4em;
  border: 0;
  color: black;
  background: white;
}

/* line 189, global.scss */
#masterList {
  background: black;
  /* grid mod */
}
/* line 193, global.scss */
#masterList .grid-3 {
  width: 18.3% !important;
}
/* line 196, global.scss */
#masterList .grid-7 {
  width: 61% !important;
}
/* line 200, global.scss */
#masterList a {
  cursor: pointer;
  color: #666;
}
/* line 205, global.scss */
#masterList a:hover {
  color: #8c8c8c;
}
/* line 209, global.scss */
#masterList a:active {
  color: #8c8c8c;
}
/* line 213, global.scss */
#masterList .event-date {
  font-size: 3.75em;
  font-weight: 600;
  padding: 0.22em 0 0.4em;
  margin: 0 0 4.5%;
  text-align: left;
  background-image: url("/images/list_header_bg.jpg");
  background-repeat: repeat-x;
}
/* line 225, global.scss */
#masterList .event-date span {
  padding-left: 23.6%;
  color: #666;
}
/* line 231, global.scss */
#masterList .event-time {
  font-size: 1.8em;
  font-weight: 600;
  color: #8c8c8c !important;
  text-align: left;
  padding-top: 0.15em;
}
/* line 241, global.scss */
#masterList .band-name {
  font-size: 3.75em;
  font-weight: 600;
  line-height: 106%;
  color: #fcfcfc;
  padding: 0 0 0.2em 0;
  text-align: left;
}
/* line 252, global.scss */
#masterList .venue-name {
  font-size: 2em;
  font-weight: 600;
  line-height: 106%;
  text-align: left;
  padding: 0 0 1em 0;
}
/* line 263, global.scss */
#masterList .add-to-cal {
  font-size: 4.7em !important;
  text-align: right;
  padding-top: 0.05em;
}

/* line 270, global.scss */
#footer {
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.05);
}
/* line 276, global.scss */
#footer .wrapper {
  display: inline-block;
}
/* line 278, global.scss */
#footer .wrapper .label {
  color: #555;
  font-size: 2.2em;
  float: left;
  padding: 1.05em 0;
}
/* line 284, global.scss */
#footer .wrapper .logo {
  float: left;
  color: #555;
  font-size: 4.6em;
  padding: 0.25em 0 0.1em 0;
}

/* Fluid Grid 
---------------------------------------------------------*/
/* line 296, global.scss */
.grid-container, .grid-container-pad0, .cal-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  float: left;
  /*outline: rgba(black, $alpha) dotted thin;*/
  background-color: rgba(255, 255, 255, 0);
}
/* line 304, global.scss */
.grid-container div, .grid-container-pad0 div, .cal-container div {
  height: auto;
  /*outline: rgba(black, $alpha) dotted thin;*/
  background-color: rgba(255, 255, 255, 0);
}

/* line 310, global.scss */
.cal-container {
  width: 93.2%;
  margin-left: 3.4%;
  margin-right: 3.4%;
}

/* line 316, global.scss */
.grid-container-pad0 {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

/* line 333, global.scss */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 341, global.scss */
.grid-1 {
  width: 6.333%;
}

/* line 345, global.scss */
.grid-2 {
  width: 14.667%;
}

/* line 349, global.scss */
.grid-3 {
  width: 23.0%;
}

/* line 353, global.scss */
.grid-4 {
  width: 31.333%;
}

/* line 357, global.scss */
.grid-5 {
  width: 39.667%;
}

/* line 361, global.scss */
.grid-6 {
  width: 48.0%;
}

/* line 365, global.scss */
.grid-7 {
  width: 56.333%;
}

/* line 369, global.scss */
.grid-8 {
  width: 64.667%;
}

/* line 373, global.scss */
.grid-9 {
  width: 73.0%;
}

/* line 377, global.scss */
.grid-10 {
  width: 81.333%;
}

/* line 381, global.scss */
.grid-11 {
  width: 89.667%;
}

/* line 385, global.scss */
.grid-12 {
  width: 98.0%;
}

/* grid height */
/* line 390, global.scss */
.pad-1 {
  padding-top: 3.1665%;
  padding-bottom: 3.1665%;
}

/* line 394, global.scss */
.pad-2 {
  padding-top: 7.3335%;
  padding-bottom: 7.3335%;
}

/* line 399, global.scss */
.pad-3 {
  padding-top: 11.5%;
  padding-bottom: 11.5%;
}

/* line 404, global.scss */
.pad-4 {
  padding-top: 15.6665%;
  padding-bottom: 15.6665%;
}

/* line 409, global.scss */
.pad-5 {
  padding-top: 19.833%;
  padding-bottom: 19.833%;
}

/* line 414, global.scss */
.pad-6 {
  padding-top: 24%;
  padding-bottom: 24%;
}

/* line 419, global.scss */
.pad-7 {
  padding-top: 28.1665%;
  padding-bottom: 28.1665%;
}

/* line 424, global.scss */
.pad-8 {
  padding-top: 32.3335%;
  padding-bottom: 32.3335%;
}

/* line 429, global.scss */
.pad-9 {
  padding-top: 36.5%;
  padding-bottom: 36.5%;
}

/* line 434, global.scss */
.pad-10 {
  padding-top: 41.5%;
  padding-bottom: 41.5%;
}
