@import url("imports/iconfont.css");
/* 	PLUGGED IN - STYLES
 *	Author: EF
 * 	Created: 03/2013
 */
/* Imports 
---------------------------------------------------------*/
/* Test: Rounded corner mixin partial */
/* Variables 
---------------------------------------------------------*/
/*$hl-alpha: 0.1;
$bg-home: "/images/pluggedin_bg_home_debug.jpg";*/
/* Default 
---------------------------------------------------------*/
/* line 27, global.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
}

/* line 34, global.scss */
div, p, span, h1, h2, h3, h4, h5, h6, input, a {
  color: #cccccc;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
}

/* line 42, global.scss */
a {
  text-decoration: none;
  border: 0;
}

/* line 47, global.scss */
h1 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.1em;
}

/* line 58, global.scss */
h2 {
  font-size: 1.65em;
  font-weight: 600;
}

/* Utilities 
---------------------------------------------------------*/
/* line 68, global.scss */
.full-width {
  width: 100%;
}

/* line 72, global.scss */
.displayNone {
  display: none;
}

/* Custom 
---------------------------------------------------------*/
/* line 78, global.scss */
#mainContainer {
  display: block;
  min-height: 100%;
  /*height: 100% /* for IE only */
  position: relative;
  text-align: center;
  background-image: url("/images/pluggedin_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  /*
  @media screen and (min-width: 40em) {
  	background-size: 40em;
  }*/
}

/* line 97, global.scss */
#mainContent.minHeight {
  min-height: 130em;
}

/* line 99, global.scss */
#mainContent {
  /*outline: rgba(black, $alpha) dotted thin;*/
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
  /*max-width: $max-width;*/
  padding-bottom: 10em;
}
/* line 106, global.scss */
#mainContent ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 112, global.scss */
#mainContent li {
  display: inline-block;
  width: 24%;
  margin: 0 4%;
}
/* line 116, global.scss */
#mainContent li a {
  display: block;
}
/* line 119, global.scss */
#mainContent li img {
  width: 100%;
}
/* line 124, global.scss */
#mainContent .connect-lbl {
  padding: 0 1.7em 0 1.7em;
}
/* line 129, global.scss */
#mainContent .divider hr {
  padding: 0.95em 0;
  border-style: solid;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
/* line 142, global.scss */
#mainContent .search-bar form {
  height: 0;
  padding-bottom: 18%;
  position: relative;
}
/* line 148, global.scss */
#mainContent .search-bar input {
  position: absolute;
  height: 100%;
}
/* line 153, global.scss */
#mainContent .search-bar input[type=text] {
  font-size: 2.2em;
  width: 90%;
  left: 0;
  border: 0;
  padding: 0 5%;
  border-style: none;
  color: black;
}
/* line 162, global.scss */
#mainContent .search-bar input[type=button] {
  cursor: pointer;
  width: 13%;
  right: 0;
  font-size: 2.4em;
  border: 0;
  color: black;
  background: white;
}

/* line 174, global.scss */
#masterList {
  background: black;
}
/* line 176, global.scss */
#masterList div {
  /*background: rgba(black, 0.2);*/
}
/* line 180, global.scss */
#masterList a {
  cursor: pointer;
  color: #777 !important;
}
/* line 185, global.scss */
#masterList .event-date {
  font-size: 1.8em;
  font-weight: 600;
  color: #666;
  padding: 0.72em 0 0.72em 0;
  background-image: url("/images/list_header_bg_sml.jpg");
  background-repeat: repeat-x;
}
/* line 198, global.scss */
#masterList .event-time {
  font-size: 1.6em;
  color: #777;
  text-align: left;
}
/* line 206, global.scss */
#masterList .band-name {
  font-size: 1.75em;
  font-weight: 600;
  padding: 0 0 0.2em 0;
  text-align: left;
}
/* line 215, global.scss */
#masterList .venue-name {
  font-size: 1.4em;
  text-align: left;
  padding: 0 0 1em 0;
}
/* line 221, global.scss */
#masterList .add-to-cal {
  font-size: 3.4em;
  text-align: right;
  padding: 0.05em 0 0 0;
}

/* line 228, global.scss */
#footer {
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.05);
}
/* line 234, global.scss */
#footer .wrapper {
  display: inline-block;
}
/* line 236, global.scss */
#footer .wrapper .label {
  color: #555;
  font-size: 1.95em;
  float: left;
  padding: 1.75em 0;
}
/* line 242, global.scss */
#footer .wrapper .logo {
  float: left;
  color: #555;
  font-size: 7em;
  padding: 0.15em 0 0 0;
}

/* Fluid Grid 
---------------------------------------------------------*/
/* line 254, global.scss */
.grid-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  float: left;
  /*outline: rgba(black, $alpha) dotted thin;*/
  background-color: rgba(255, 255, 255, 0);
}
/* line 262, global.scss */
.grid-container div {
  height: auto;
  /*outline: rgba(black, $alpha) dotted thin;*/
  background-color: rgba(255, 255, 255, 0);
}

/* line 279, global.scss */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 287, global.scss */
.grid-container .grid-1 {
  width: 6.333%;
}

/* line 291, global.scss */
.grid-container .grid-2 {
  width: 14.667%;
}

/* line 295, global.scss */
.grid-container .grid-3 {
  width: 23.0%;
}

/* line 299, global.scss */
.grid-container .grid-4 {
  width: 31.333%;
}

/* line 303, global.scss */
.grid-container .grid-5 {
  width: 39.667%;
}

/* line 307, global.scss */
.grid-container .grid-6 {
  width: 48.0%;
}

/* line 311, global.scss */
.grid-container .grid-7 {
  width: 56.333%;
}

/* line 315, global.scss */
.grid-container .grid-8 {
  width: 64.667%;
}

/* line 319, global.scss */
.grid-container .grid-9 {
  width: 73.0%;
}

/* line 323, global.scss */
.grid-container .grid-10 {
  width: 81.333%;
}

/* line 327, global.scss */
.grid-container .grid-11 {
  width: 89.667%;
}

/* line 331, global.scss */
.grid-container .grid-12 {
  width: 98.0%;
}

/* grid height */
/* line 336, global.scss */
.grid-container .pad-1 {
  padding-top: 3.1665%;
  padding-bottom: 3.1665%;
}

/* line 340, global.scss */
.grid-container .pad-2 {
  padding-top: 7.3335%;
  padding-bottom: 7.3335%;
}

/* line 345, global.scss */
.grid-container .pad-3 {
  padding-top: 11.5%;
  padding-bottom: 11.5%;
}

/* line 350, global.scss */
.grid-container .pad-4 {
  padding-top: 15.6665%;
  padding-bottom: 15.6665%;
}

/* line 355, global.scss */
.grid-container .pad-5 {
  padding-top: 19.833%;
  padding-bottom: 19.833%;
}

/* line 360, global.scss */
.grid-container .pad-6 {
  padding-top: 24%;
  padding-bottom: 24%;
}

/* line 365, global.scss */
.grid-container .pad-7 {
  padding-top: 28.1665%;
  padding-bottom: 28.1665%;
}

/* line 370, global.scss */
.grid-container .pad-8 {
  padding-top: 32.3335%;
  padding-bottom: 32.3335%;
}

/* line 375, global.scss */
.grid-container .pad-9 {
  padding-top: 36.5%;
  padding-bottom: 36.5%;
}

/* line 380, global.scss */
.grid-container .pad-10 {
  padding-top: 41.5%;
  padding-bottom: 41.5%;
}
