/* Imports */
@import url("imports/reset.css");
@import url("imports/iconfont.css");

/* Imported Mixins */
@import "rounded";

/* Variables */
$break-small: 20em;
$break-large: 45em;
$full: 100%;
$content-padding:5%;
$default-text-color: #ffffff;
$default-text-size: 5em;
$social-btn-size: 7.8em;

/* Mixins */

/* Utilities */
.displayNone {
	display:none;	
}

/* DOM Styles */
#mainContainer {
	width: $full;
	display: block;
	text-align: center;
	background: {
		image: url("/images/pluggedin_bg.gif");
		position: center;
	}

	h2 {
		display: block;
		font-size: 1em;
		box-sizing: border-box;
		-webkit-margin-before: 0.83em;
		-webkit-margin-after: 0.83em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;

		.devide {

			&:before {
				content: "";
				position: absolute;
				border-top: 2px solid #00ff00;
				width: 24%;
				left:0;
			}

			&:after {
				content: "";
				position: absolute;
				border-top: 2px solid #00ff00;
				width: 24%;
				right: 0;
			}
		}
	}

	.row {
		width: $full;
		height:auto;
		display:block;
	}
}

#mainContent {
	width: $full - $content-padding*2;
	height: $full;
	display: inline-block;
	color: $default-text-color;
	background: {
		/*color: #cccccc;*/
	}
	font: {
		family:	Helvetica, "Helvetica Neue", Arial, sans-serif;
	}

	@media screen and (max-width: $break-small) {
		width: $break-small *0.9;
	    color: #ff0000;
	}

	@media screen and (min-width: $break-large) {
		width: $break-large *0.9;
	    color: #00ff00;
	}
}

#logo {
	
	img {
		width: $full;
		height: auto;
	}
}

#nav {
	
}

#social-buttons {
	width: $full;
	height: $social-btn-size;
	/*background: red;*/
	display: block;
	.btn {
		width: $social-btn-size;
		height: auto;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		
		&:hover {
			color:fade-out($default-text-color, 0.2);
			@include rounded(bottom, right, 20px);
		}
		padding: { right: 2em; }
	}
	.icn {
		width: $full;
		height: $full;
		font-size: $default-text-size;
	}
	.bg1 {
		background: {
			image: url("/images/buttons/social_btn_bg1.jpg");
			repeat: no-repeat;
			padding-right: 2em;
		}
	}
	
	.bg2 {
		background: {
			image: url("/images/buttons/social_btn_bg2.jpg");
			repeat: no-repeat;
			margin-left: 10px;
		}
	}
}

#footer {
	background: {
		color: rgba(black, 0.5);
	}
	.lbl {
		color: $default-text-color;
		font: {
			size: 0.8em;
		}
	}

	.icn {
		color: $default-text-color;
		font: {
			size: 3em;
		}
	}
}

#masterList {
	display:none;
}